body {
    background-image: url("img/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.titulo {
    color: white;
    text-align: center;
}

.parrafo {
    color: white;
    text-align: center;
}

label {
    color: white;
    padding-left: 15px;
}

input[type=text],
input[type=email],
input[type=number] {
    margin-left: 15px;
    width: 95%;
}

input[type=radio],
[type=checkbox] {
    margin-left: 15px;
}

textarea{
    margin-left: 15px;
}

select {
    margin-left: 15px;
    width: 95%;
}

form {
    background-color: rgba(34, 35, 64, 0.8);
    position: relative;
    width: 80%;
    left: 10%;
}

button.enviar {
    color: white;
    background-color: #37A65E;
    text-align: center;
    width: 95%;
    height: 40px;
    display: block;
    margin-left: 15px;
  }